.category {
    height: 100%;
    width: 15%;
    /* display: flex; */
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
}

.cilinder {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    border: 3px solid #4f7083;
    border-top: none;
    height: 80%;
}

.cilinderTitle {
    color: #FFEEE1;
    text-align: center;
    margin-top: 10px;
}

@media only screen and (max-width: 700px) {
    .category{
        height: 40%;
        width: 30%;
    }
    .cilinder{
        height: 100%;
    }
}