#contactWrap {
    height: 80%;
    display: grid;
    place-items: center;
    align-content: center;
}

#contactInfo {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    color: #ffeee1;
    align-items: center;
    /* padding: 4vh; */
    font-family: "Roboto Condensed";
    border-radius: 15px;
    animation: fadeIn 0.4s ease-in-out forwards;
}

#contactInfo>a {
    text-decoration: none;
    color: #ffeee1;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vh;
}

#contactName {
    font-size: 4vh;
    border-bottom: 2px solid #e24c49;
    color: #e24c49;
    width: 60%;
    text-align: center;
    /* margin-bottom: 5vh; */
    animation: fadeIn 0.4s ease-in-out forwards;
}

#downloadCV {
    background-color: #ffeee1;
    color: #00030b !important;
    border-radius: 12px;
    padding: 1% 2%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(10px);
    }
}

@media only screen and (max-width: 700px) {
    #contactWrap {
        height: 100%;
    }

    #contactInfo {
        animation: none;
        width: 100%;
    }
}