#experienceWrap,
#educationWrap {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    color: white;
}

.arrow {
    width: 3vh;
    height: 3vh;
    rotate: 45deg;
    cursor: pointer;
}

#experienceText,
#educationText {
    width: 70%;
    animation: fadeIn 0.4s ease-in-out forwards;
    animation-delay: 0.1s;
    opacity: 0;
    height: 80%;
    font-family: "Roboto Condensed";
}

#arrowLeft {
    animation: fadeIn 0.4s ease-in-out forwards;
    border-bottom: solid #ffeee1 2px;
    border-left: solid #ffeee1 2px;
    opacity: 0;
}

#arrowRight {
    animation: fadeIn 0.4s ease-in-out forwards;
    border-top: solid #ffeee1 2px;
    border-right: solid #ffeee1 2px;
    animation-delay: 0.2s;
    opacity: 0;
}

.postNav{
    display: flex;
    flex-flow: row nowrap;
    font-size: 2vh;
    align-items: baseline;
    justify-content: space-around;
    width: 40%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(10px);
    }
}

@media only screen and (max-width: 700px) {

    #experienceWrap,
    #educationWrap {
        height: 100%;
        flex-flow: column nowrap;
        justify-content:center; 
    }

    #experienceText,
    #educationText {
        animation: unset;
        opacity: 1;
        width: 90%;
        height: 65%;
        display: grid;
        place-items: center;
    }

    .postNav{
        align-items: center;
    }

    #arrowLeft {
        animation: unset;
        /* border: unset; */
        opacity: 1;
        /* border-top: solid #ffeee1 2px;
        border-left: solid #ffeee1 2px; */
    }

    #arrowRight {
        animation: unset;
        /* border: unset; */
        opacity: 1;
        /* border-bottom: solid #ffeee1 2px;
        border-right: solid #ffeee1 2px; */
        animation-delay: 0.2s;
    }
}