#footerInfo {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    color: #ffeee1;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Roboto Condensed";
    animation: fadeIn 0.4s ease-in-out forwards;
    height: 5%;
    font-size: 2vh;
}

#footerInfo>a {
    text-decoration: none;
    color: #ffeee1;
    display: flex;
    flex-direction: row;
    align-items: center;

}

#footerInfo>a>svg{
    height: 2vh;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(10px);
    }
}
