@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

#intro {
    height: 80%;
    color: #FFEEE1;
    display: flex;
    flex-flow: row nowrap;
    font-family: "IBM Plex Mono";
    justify-content: space-between;
    align-items: flex-end;
    /* align-items: center; */
}

#introText {
    font-size: 8vw;
    width: 100%;
    margin: 0;
    opacity: 0;
    color: #e24c49;
    animation: fadeIn ease-in-out 0.4s forwards, zoomOutText ease-in-out 0.4s forwards;
    animation-delay: .5s, 3s;
}

#introTextSecond {
    font-size: 4vw;
    margin: 0;
    width: 100%;
    opacity: 0;
    color: #a65e83;
    animation: fadeIn ease-in-out 0.4s forwards, zoomOutTextSecond ease-in-out 0.4s forwards;
    animation-delay: .5s, 3s;
}

#textWrap {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    animation: changePosition 0.4s ease-in-out forwards;
    animation-delay: 3s;
    width: 300%;
    margin-bottom: 3vw;
    height: 50%;
    margin-left: 3vw;
}

#introParagraph {
    opacity: 0;
    animation: fadeIn ease-in-out 0.4s forwards;
    animation-delay: 3.5s;
    font-size: 2.5vh;
    font-family: "IBM Plex Mono";
    width: 40%;
    height: 100%;
    display: grid;
    place-items: center;
    margin-right: 3vw;
}

#swipeDown {
    display: none;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes zoomOutText {
    from {
        font-size: 8vw;
    }

    to {
        font-size: 7vh;
    }
}

@keyframes zoomOutTextSecond {
    from {
        font-size: 4vw;
    }

    to {
        font-size: 3vh;
    }
}

@keyframes changePosition {
    from {
        width: 300%;
        height: 40%;
        margin-bottom: 3vw;
    }

    to {
        width: 40%;
        height: 100%;
        margin-bottom: 0;
    }
}

@media only screen and (max-width: 700px) {
    #intro {
        flex-flow: column nowrap;
        align-items: center;
    }

    #textWrap {
        width: 90%;
        animation: unset;
        height: 30%;
        margin-bottom: 0;
    }

    #introParagraph {
        width: 90%;
        font-size: 1.8vh;
        /* padding: 0 2vw; */
        margin: 0;
        display: block;
        animation: unset;
        animation: fadeIn ease-in-out 0.4s forwards;
        animation-delay: 1s;
        height: 70%;
    }

    #introText,
    #introTextSecond {
        animation: unset;
        animation: fadeIn ease-in-out 0.4s forwards;
        animation-delay: .5s;
    }

    #swipeDown{
        display: block;
        position: fixed;
        bottom: 1vw;
        right: 1vw;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateX(-20px);
        }

        to {
            opacity: 1;
            transform: translateX(-10px);
        }
    }
}