#langLine {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;
    color: rgb(255, 238, 225);
    font-size: 2vh;
    margin-right: 4vh;
}

.switch {
    position: relative;
    display: flex;
    justify-items: flex-start;
    align-items: center;
    width: 4vh;
    height: 2vh;
    border: rgb(255, 238, 225) solid 2px;
}

.switch input {
    display: none;
}

.slider:before {
    position: absolute;
    content: "";
    height: 1.5vh;
    width: 1.5vh;
    left: 0.25vh;
    bottom: 0.25vh;
    background-color: rgb(255, 238, 225);
    transition: .4s;
}

input:checked+.slider:before {
    transform: translateX(2vh);
}