@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,500;1,300&display=swap');

#pageHeader {
    width: 100%;
    background-color: #00030b;
    height: 15%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
}

#profilePicture {
    width: 10vh;
    height: 10vh;
    position: relative;
    display: grid;
    place-items: center;
    margin-left: 3vw
}

#profilePicture>img {
    width: 100%;
}

#profilePicture::before {
    content: "";
    display: block;
    border: #e45e69 solid 1px;
    position: absolute;
    top: 3px;
    bottom: 3px;
    left: 3px;
    right: 3px;
    transform: rotate(45deg);
    animation: spinOuter ease-in-out 20s infinite;
    animation-delay: 3s;
}

#profilePicture::after {
    content: "";
    display: block;
    border: #e45e69 solid 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: spinInner ease-in-out 20s infinite;
    animation-delay: 3s;
}

#navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 60%;
    font-size: 2.5vh;
    font-family: "DM Mono";
    font-weight: 500;
}

.navItem {
    text-decoration: none;
    color: rgb(255, 238, 225);
    opacity: 0;
    transform: translateX(-10px);
    position: relative;
}

.navLink {
    text-align: center;
}

.navLink:hover {
    background-color: #E45E69;
    transition-duration: 0.5s;
}

.navLink::after {
    top: 130%;
    position: absolute;
    transition: all ease-in-out .2s;
    background: #E45E69;
    content: "";
    display: block;
    height: 2px;
    width: 0;
}

.actionButton {
    color: #E45E69;
}

.actionButton:hover {
    color: white;
}

.active::after {
    width: 100%;
}

.navItem:nth-child(1) {
    animation: fadeIn ease-in-out 0.4s forwards;
}

.navItem:nth-child(2) {
    animation: fadeIn ease-in-out 0.4s forwards;
    animation-delay: 0.2s;
}

.navItem:nth-child(3) {
    animation: fadeIn ease-in-out 0.4s forwards;
    animation-delay: 0.4s;
}

.navItem:nth-child(4) {
    animation: fadeIn ease-in-out 0.4s forwards;
    animation-delay: 0.6s;
}

.navItem:nth-child(5) {
    animation: fadeIn ease-in-out 0.4s forwards;
    animation-delay: 0.8s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(10px);
    }
}

@keyframes spinOuter {
    0% {
        transform: rotate(45deg);
    }

    10% {
        transform: rotate(315deg);
    }
}

@keyframes spinInner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@media only screen and (max-width: 700px) {
    .navLink {
        display: none;
    }

    #pageHeader {
        position: sticky;
        top: 0;
        z-index: 100;
    }
}