#topTriangle,
#bottomTriangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-color: #000411 transparent #000411 transparent;
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    z-index: 1;
}

#topTriangle {
    animation: revealTop 0.5s forwards;
    /* animation-delay: 8s; */
    animation-delay: 6s;
}

#bottomTriangle {
    animation: revealBottom 0.5s forwards;
    /* animation-delay: 8s; */
    animation-delay: 6s;
}

#logo {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    width: 35%;
    position: relative;
    top: 55%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    animation: logoReveal 1s forwards, blinkFade ease-in-out 0.1s 7 forwards;
    /* animation-delay: 2s, 7s; */
    animation-delay: 2s, 5s;
}

#profile {
    width: 20vh;
    height: 20vh;
    position: relative;
    display: grid;
    place-items: center;
}

#profile>img {
    width: 100%;
}

#profile::before {
    content: "";
    display: block;
    border: #e45e69 solid 3px;
    position: absolute;
    top: -10px;
    bottom: -10px;
    left: -10px;
    right: -10px;
    transform: rotate(45deg);
}

#profile::after {
    content: "";
    display: block;
    border: #e45e69 solid 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#name {
    color: #FFEEE1;
    font-size: 6vh;
}

.letter {
    display: inline-block;
    opacity: 0;
    margin: 0 2px;
    text-align: center;
    width: 5vh;
}

.letter:nth-child(1) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5s; */
    animation-delay: 3s;
}

.letter:nth-child(2) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5.1s; */
    animation-delay: 3.1s;
}

.letter:nth-child(3) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5.2s; */
    animation-delay: 3.2s;
}

.letter:nth-child(4) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5.3s; */
    animation-delay: 3.3s;
}

.letter:nth-child(5) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5.4s; */
    animation-delay: 3.4s;
}

.letter:nth-child(6) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5.5s; */
    animation-delay: 3.5s;
}

.letter:nth-child(7) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5.6s; */
    animation-delay: 3.6s;
}

.letter:nth-child(8) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5.7s; */
    animation-delay: 3.7s;
}

.letter:nth-child(9) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5.8s; */
    animation-delay: 3.8s;
}

.letter:nth-child(10) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 5.9s; */
    animation-delay: 3.9s;
}

.letter:nth-child(11) {
    animation: showLetter 0.1s forwards;
    /* animation-delay: 6s; */
    animation-delay: 4s;
}

@keyframes logoReveal {
    from {
        top: 55%;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }
}

@keyframes revealTop {
    from {
        top: 0
    }

    to {
        top: -100%
    }
}

@keyframes revealBottom {
    from {
        top: 0
    }

    to {
        top: 100%
    }
}

@keyframes showLetter {

    100% {
        opacity: 1;
    }
}

@keyframes blinkFade {
    0% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}

@media only screen and (max-width: 600px) {
    #logo {
        width: 75%;
    }
    #profile{
        width: 20vw;
        height: 20vw;
    }
    #name{
        font-size: 6vw;
    }
    .letter{
        width: 5vw;
    }
}