.portfolioWrap {
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0px;
}

.exhibit {
    height: 100%;
    text-align: center;
}

.exhibitDescription {
    color: #ffeee1;
    font-size: 2.5vh;
    font-family: "Roboto Condensed";
}

.exhibit>iframe {
    width: 100%;
    height: 70%;
    margin-bottom: 3vh;
}

.exhibitDescription>a{
    color: black;
    background-color: #ffeee1;
    padding: 2px 10px;
    border-radius: 12px;
}