.companyName,
.schoolName {
    font-weight: bold;
    border-bottom: 2px solid #e24c49;
    color: #e24c49;
    font-size: 4vh;
    margin-bottom: 0.5vh;
}

.details {
    font-size: 2vh;
}

.technologies,
.disclaimer {
    font-size: 2vh;
}

.sentence {
    font-size: 3vh;
}

.responsibilities,
.curriculum {
    font-size: 2.3vh;
}

@media only screen and (max-width: 700px) {

    .companyName,
    .schoolName {
        font-size: 4vw;
        margin-bottom: 0.5vh;
    }

    .details {
        font-size: 3vw;
    }

    .technologies,
    .disclaimer {
        font-size: 3.5vw;
    }

    .sentence {
        font-size: 3.5vw;
    }

    .responsibilities,
    .curriculum {
        font-size: 3vw;
    }
}