.skillWrap{
    color: #FFEEE1;
    margin: 3px 5px;
    padding: 3%;
    font-family: "DM Mono";
    text-align: center;
    opacity: 0;
}

.minimal{
    background:#868a06;
}
.basic{
    background:#619506;
}
.intermediate{
    background:#249d2c;
}
.advanced{
    background:#187d53;
}
.profficient{
    background:#0b5d52;
}

@keyframes fadeInBottom {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}