#skillsShowcase {
    height: 80%;
    display: grid;
    place-items: center;
    margin: 0;
    font-size: 2vh;
}

#skillBar {
    margin: 0;
    width: 100%;
    height: 6%;
    color: #FFEEE1;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    position: absolute;
    bottom: 8vh;
}

#skillMenu {
    margin-left: 3%;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    border-top: #FFEEE1 solid 2px;
    padding: 0 50px;
}

.skillType {
    padding: 3px 5px 0 5px;
    margin: 0 10px;
}

.skillType:hover {
    background-color: #ffeee180;
    color: #00030b;
    cursor: pointer;
    border-radius: 0px 0px 5px 5px;
}

.selected {
    background-color: #FFEEE1;
    color: #00030b;
    border-radius: 0px 0px 5px 5px;
}

#skillBoard {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    height: 80%;
    width: 100%;
    align-items: center;
}

@media only screen and (max-width: 700px){
    #skillsShowcase{
        height: 100%;
        font-size: 3vw;
        position: relative;
    }
    #skillBoard{
        flex-flow: row wrap;
    }
    #skillBar{
        bottom: 2vw;
    }
    #skillMenu {
        margin: 0;
        padding: 0;
    }
}