@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00030b;
  overflow: hidden;
  font-family: "DM Mono";
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
}